@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center mt-5">
    <h1 class="display-4 text-danger">Access Denied</h1>
    <div class="alert alert-danger mt-4">
        You don't have permission to access the requested resource.
    </div>
    
    <div class="mt-4">
        <p>You might need to:</p>
        <ul class="list-group">
            <li class="list-group-item">Enter the site password if you haven't already</li>
            <li class="list-group-item">Log in with an account that has the right permissions</li>
            <li class="list-group-item">Request access from the administrator</li>
        </ul>
    </div>
    <div class="mt-4">
        <a asp-controller="Identity" asp-action="AuthorizationAccess" class="btn btn-primary">Go to Authorization Gate</a>
        <a asp-controller="Identity" asp-action="Login" class="btn btn-secondary">Go to Login</a>
        <a asp-controller="Home" asp-action="Index" class="btn btn-info">Go to Home</a>
    </div>
</div> 