@model MedAnnotateApp.Presentation.Dtos.AuthorizationAccessDto

@{
    ViewBag.Title = $"Login";
}

<style>
    .centered {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 635px;
    }

    .centered-form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button:hover {
        background-color: #8f000c;
    }

    input:focus {
        border-color: #d78188 !important;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #d78188 !important;
        outline: 0 none !important;
    }
</style>

<section class="centered">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="card shadow-lg p-5" style="background-color: #f8f9fa;">
                    <div class="row">
                        <div class="col-md-6 d-flex align-items-center " style="height: 400px;">
                            <div>
                                <h1 class="display-3 fw-bold ls-tight text-center" style="color: #a9000e;">
                                    Welcome
                                </h1>
                                <p class="mt-4" style="color:rgb(122, 122, 122)">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Eveniet, itaque accusantium odio, soluta, corrupti aliquam
                                    quibusdam tempora at cupiditate quis eum maiores libero
                                    veritatis? Dicta facilis sint aliquid ipsum atque?
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Eveniet, itaque accusantium odio, soluta, corrupti aliquam
                                    quibusdam tempora at cupiditate quis eum maiores libero
                                    veritatis? Dicta facilis sint aliquid ipsum atque?
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card shadow-sm p-4" style="background-color: #ffffff;height: 400px;">
                                <div class="card-body centered-form">
                                    <form method="post" asp-action="PostAuthorizationAccess" asp-controller="Identity" style="width: 100%;">
                                        @Html.AntiForgeryToken()
                                        
                                        <div class="text-danger" asp-validation-summary="All"></div>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <input type="password" asp-for="Password" class="form-control" />
                                            <span asp-validation-for="Password" class="form-label text-dark">Password</span>
                                        </div>

                                        <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                            class="btn btn-block mb-4" style="color: white; background-color: #a9000e;">
                                            Sign In
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial">
}